body{
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  font-size: .12rem;
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  height: .4rem;
  border-bottom: 1px solid #eee;
  position: relative;
  p{
    flex:1;
    text-align: center;
    line-height: .4rem;
    span{
      font-size: .14rem;
    }
  }
  p:hover{
    span{
      color:skyblue;
    }
  }
  p:nth-child(1):hover ~ b{
    transform: translateX(0);
  }
  p:nth-child(2):hover ~ b{
    transform: translateX(100%);
  }
  p:nth-child(3):hover ~ b{
    transform: translateX(200%);
  }
  b{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 33%;
    height: .02rem;
    background-color: skyblue;
    transition: all 1s;
  }
}